// Colors

$white: white;
$black: black;

$xlight-grey:#fafafa;
$light-grey:#eee;
$grey:#dedede;
$less-light-grey: #959595;
$dark-grey:#222;

$green:lighten(green, 20%);
$red:red;
$blue:blue;
$yellow:yellow;

$burnt-orange:#AE4B13;
$teal:#004A80;
