<nav class="root-edit-nav">
  {{yield}}
  {{!--
    This is a useful thing to do because it allows us to keep the relevant
    CSS in one spot utilizing the component-css stuff. Alternatively we could
    use pods styles, but this works as well, since routable components
    are coming soon(?).
   --}}
</nav>
