<div class="wrapper">
  <div class="header">
    <span class="header__title">The Biblical Hebrew and Aramaic Lexicon</span>
      {{!--{{#if session.isLoggedIn}}
        {{#link-to 'session.logout' class="login-link"}}Logout{{/link-to}}
        {{#link-to 'browser' class="login-link"}}Browse &amp; Edit{{/link-to}}
        {{#link-to 'utilities' class="login-link"}}Tools{{/link-to}}
      {{else}}
        {{#link-to 'session.login' class="login-link"}}Login{{/link-to}}
      {{/if}}--}}
  </div>
  {{outlet}}
</div>
