<div class="admin-content">
  <div class="user-list">
    <h3>Users</h3>
      {{#each model as |user|}}
        <p>{{#link-to 'admin.users.user' user}}{{user.firstName}} {{user.lastName}}{{/link-to}}</p>
      {{/each}}
      <p>{{#link-to 'admin.users.new'}}New User{{/link-to}}</p>
  </div>
  {{outlet}}
</div>
