{{#root-edit/show}}
  <p>This will display the Root Entry as it will appear in the final site.
    In fact, the final site will literally display this markup, but users
    who are not logged-in (or who do not have permissions to edit) will
    simply not be able to see the Edit/Etymology/Related tabs.</p>
{{/root-edit/show}}
