<div class="content">
  {{outlet 'content'}}
</div>
<div class="dashboard-nav-wrapper">
    <nav class="admin-nav">
      {{#link-to 'utilities.cleanup-entries.page' 1}}Root Cleanup{{/link-to}}
      {{#link-to 'utilities.link-entries'}}Link Entries{{/link-to}}
    </nav>
</div>
